/* Search panel itself */

.headerContainer .searchPanel {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  background: bisque;
  overflow: hidden;
  // height: 40px;
}

/* search icon */

.headerContainer .searchIconLabel {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 12px 20px;
  position: relative;
  user-select: none;
  // border: solid 1px blue;
}

.headerContainer .searchIconLabel .searchNavicon {
  // background-image: url(/public/icons/search.png);
  // background: #333;
  display: block;
  position: relative;
  height: 30px;
  width: 30px;
  // border: solid 1px red;
}

/* searchButton */

.headerContainer .searchButton {
  display: none;
  // float: right;
}

.headerContainer .searchButton:hover {
  background-color: #f4f4f4;
}

.headerContainer .searchButton:checked ~ .searchPanel {
  max-height: 480px;
  display: block;
}

.headerContainer .searchButton:checked ~ .searchIconLabel .searchNavicon {
  background: transparent;
}

/* Search panel itself */
.headerContainer .searchPanel .searchInputContainer {
  display: inline-flex;
  width: 100%;
}

.headerContainer .searchPanel .searchInput {
  all: unset;
  width: 100%;
  height: 30px;
  padding: 6px 10px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: solid 2px gray;
  background: transparent;
}

.headerContainer .searchPanel .submitSearchButton {
  // all: unset;
  margin: 5px;
  cursor: pointer;
  /*
  padding-right: 20px;
  padding-left: 10px;
  background-color: buttonface;
  border-radius: 10px;
  */
}

// if screen.width < 400px then we want search field to be below button
@media screen and (max-width: 400px) {
  .headerContainer .searchIconLabel {
  }
}
