.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
}

.center_div {
  position: absolute;
  top: 60px;
  left: 0px;
  right: 0px;
  bottom: 60px;
  border: solid 2px white;
}

.footer{
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
}

.rulesDiv{
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 50%;
  border: solid 1px red;
}

.inputDiv{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 200px;
  width: 50%;
  border: solid 1px blue;
}

.resultsDiv{
  position: absolute;
  right: 0px;
  bottom: 0px;
  top: 200px;
  width: 50%;
  border: solid 1px blue;
}
