.rootView {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

.headingView {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 30px;
}

.tokensArea {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 4fr;
  grid-template-rows: 30px;
  font-size: smaller;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 30px;
  resize: none;
  overflow: scroll;
}

.tokenRow {
}

.tokenStartEnd {
  padding: 5px;
}

.tokenTag {
  padding: 5px;
}

.tokenValue {
  padding: 5px;
}
